@charset "UTF-8";

/* home.jsp */
/* 블랙 테마를 위한 전역 설정입니다 */
body{
	background-color: #0b0b0b;
	color: #ffffff;
	margin: 0 auto; /* 전체(body) 프레임을 가운데로 정렬 */
	font-family: 'Segoe UI', sans-serif;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

section {
	min-height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

section.main{
	margin: 0px;                 /* 여백 제거 */
	padding: 0px;				 /* 내부 여백 제거 */	
	position: relative;
	
	background-image:
		    linear-gradient(to bottom,
	        rgba(0,0,0,0.7) 0%,
	        rgba(0,0,0,0.5) 20%,
	        rgba(0,0,0,0) 35%,
	        rgba(0,0,0,0) 65%,
	        rgba(0,0,0,0.5) 80%,
	        rgba(0,0,0,0.7) 100%
	    ),
		url(/cinema/resources/img/dog.png);	
	background-size:cover; background-size:contain; 	
	background-position: center;	
	background-repeat: no-repeat;	
}

section.main h1{	
	margin: 0px;                 /* 여백 제거 */
	width:100%;
	min-height: 700px;

	background-color:#00000020;		
	color:white;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

table {
	border-collapse: collapse;
}

table tr {
	height: 40px;
}

table tr td,
table tr th {
	border: 1px solid #ccc;
	text-align: center;
}

table tr:first-child th{
	color:white;
	background-color: navy;
}

table tr td:first-child{
	padding:10px;
	text-align:left;
}

table.list tr td:nth-child(2) {
	text-align: left;
}

table.list tr td:first-child {
	text-align:center;
}

table tr td input[type='text'],
table tr td input[type='password'],
table tr td input[type='number'] {
	outline: none;
	border: none;
	padding: 10px;
	font-size: 14px;
}