@charset "UTF-8";

/* 1. 기본 초기화 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Malgun Gothic', sans-serif;
}

/* 2. 헤더 수평선 (화면 끝까지) */
header {
	position: relative;
    width: 100%;
	border-bottom: 2px solid #ccc; /* 상단 라인을 조금 더 두껍게 강조 */    
    padding: 20px 0;
	background-color: #0b0b0b;
	color: #ffffff;
}

/* 3. 컨텐츠 중앙 정렬 */
header > div {
    /* width: 1100px; */
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* 메뉴 바닥선을 맞춤 */
}

/* 4. 왼쪽 메인 메뉴 (영화, 영화관별 등) */
header .main-nav {
    display: flex;
    gap: 40px;
    list-style: none;
}

header .main-nav > li {
    position: relative;
    padding-bottom: 10px; /* 드롭다운과의 간격 */
}


/* 상위 메뉴 글자 스타일 (크고 굵게) */
header .main-nav > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; /* 크게 */
    font-weight: bold; /* 굵게 */
    display: block;
}

/* 5. 드롭다운 하위 메뉴 (상위 메뉴보다 작게) */
header .main-nav > li > ul {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background: #111;
    border: 1px solid #333;
    padding: 10px 0;
    min-width: 140px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    z-index: 1000;
    list-style: none;
}

/* 메인 메뉴 hover */
header .main-nav > li > a:hover{
	color: gold;
}

/* 서브 메뉴 hover */
header .sub-nav a:hover{
	color: gold;
}

/* hover 시 부드러운 색상 전환 */
header a{
	transition: color 0.3s ease;
}

/* 마우스 올릴 때만 보이기 */
header .main-nav > li:hover > ul {
    display: block;
}

/* 하위 메뉴 글자 스타일 (작고 깔끔하게) */
header .main-nav > li > ul > li a {
    font-size: 14px; /* 작게 */
    font-weight: normal; /* 보통 굵기 */
    color: #ccc;
    padding: 8px 20px;
    display: block;
    text-decoration: none;    
}

header .main-nav > li > ul > li a:hover {
    background-color: #333;
    color: gold;
}

/* 6. 오른쪽 서브 메뉴 (로그인, 공지사항 등 - 작게 유지) */
header .sub-nav {
    display: flex;
    gap: 15px;
    list-style: none;
    padding-bottom: 10px;
}

header .sub-nav a, header .sub-nav span {
    text-decoration: none;
    color: #bbb;
    font-size: 13px;

}

/* 7. 홈페이지 logo 수정 css */
.logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    
    width: 300px;
    height: 225px;
    
    background: url("../img/logo.png") no-repeat center;
    background-size: contain;
    
    z-index: 999;
}

.logo img {
    height: 150px;
}