<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.cinema.mapper.CommentMapper">

	<insert id="insertComment">
	    INSERT INTO movie_comment
	    (member_id, movie_code, content, score)
	    VALUES
	    (#{member_id}, #{movie_code}, #{content}, #{score})
	</insert>
	
	<select id="selectComments" resultType="net.koreate.cinema.vo.CommentVO">
    SELECT 
    	c.comment_num, 
    	c.member_id,    	 
    	c.content, 
    	c.score,
    	m.nickname
    FROM movie_comment c
    LEFT JOIN final_member m ON c.member_id = m.id
    WHERE c.movie_code = #{movie_code}
    ORDER BY c.comment_num DESC
	</select>	
	
	<update id="updateComment">
	    UPDATE movie_comment
	    SET content = #{content},
	        score = #{score}
	    WHERE comment_num = #{comment_num}
	</update>
	
	<delete id="deleteComment">
	    DELETE FROM movie_comment
	    WHERE comment_num = #{comment_num}
	</delete>	
	
	<select id="selectRatings" resultType="int">
    SELECT score FROM movie_comment
    WHERE movie_code = #{movie_code}
	</select>
	
	<select id="selectCommentById" resultType="net.koreate.cinema.vo.CommentVO">
    SELECT * FROM movie_comment WHERE comment_num = #{comment_num}
	</select>

</mapper>