<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.cinema.mapper.MovieListMapper">

<select id="selectMovieList" resultType="net.koreate.cinema.vo.MovieVO">
    SELECT * FROM final_movie ORDER BY movie_code DESC
</select>

<select id="getMovie" resultType="net.koreate.cinema.vo.MovieVO">
    SELECT * FROM final_movie WHERE movie_code = #{movie_code}
</select>

<update id="updateMovie">
    UPDATE final_movie
    SET 
        title = #{title},
        director = #{director},
        genre = #{genre},
        story = #{story},
        poster = #{poster, jdbcType=CLOB},
        release_date = #{release_date}        
    WHERE movie_code = #{movie_code}
</update>

<delete id="deleteMovie">
    DELETE FROM final_movie WHERE movie_code = #{movie_code}
</delete>

<insert id="insertMovie">
    INSERT INTO final_movie
    (movie_code, title, director, genre, story, poster, release_date)
    VALUES
    (final_movie_seq.nextval, #{title}, #{director}, #{genre}, #{story}, #{poster}, #{release_date})
</insert>

</mapper>